@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

/*MAIN*/
body {
    background-color: #1B1B22;
    color: #fafafa;
    font-family: 'Lexend', 'Segoe UI', sans-serif;
    margin: 0;

}

nav {
    background-color: #101014;
    color: #FAFAFA;
    width: 100%;
    height: 40px;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
    box-sizing: border-box;
  }
  
  .nav-logo {
    display: flex;
    min-width: 10rem;
  }
  
  #profile-picture {
    width: 100%;
    border-radius: 100%;
  }

  .nav-logo img {
    height: 20px;
  }
  
  .nav-menu {
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 90%;
    font-size: 14px;
  }
  .nav-navigation {
    display: flex;
    align-items: center;
    gap: 2rem;
    min-width: 17em;
    width: 100%;
  }
  
  .nav-menu a,
  .promo {
    color: #777777;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
  }
  .nav-menu a:hover,
  .promo:hover {
    color: #fafafa;
  }
  
  .nav-profile {
    display: flex;
    align-items: center;
  }
  
  .profile-picture {
    height: 26px;
    width: 26px;
    background-color: #777777;
    border-radius: 100%;
    background-size: contain;
    background-position: center;
  }
  
  .nav-balance {
    display: flex;
    height: 24px;
    align-items: center;
    background-color: #1B1B22;
    border-radius: 8px;
    padding: 6px;
    box-sizing: border-box;
    margin-left: 10px;
  }
  
  .nav-balance button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-radius: 3px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .nav-balance img {
    width: 12px;
    margin: 0;
    background-color: rgba(0, 0, 0, 0);
  }
  .nav-settings {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-settings img {
    width: 1.3rem;
    cursor: pointer;
  }
.nav-hamburger img{
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.nav-hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

#balance-display {
    min-width: 2rem;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 12px;

}

.nav-menu .link-active {
  color: #fafafa;
  font-weight: 500;
}

.username{
  font-size: 12px;
  margin-right: 8px;
}

input {
  background-color: #0E0E10;
  border: none;
  border-radius: 20px;
  height: 2rem;
  color: #777;
  font-family: 'Lexend', 'Segoe UI', sans-serif;
  padding: 8px;
  box-sizing: border-box;
  outline: none;
}
button {
  background-color: #5B509F;
  cursor: pointer;
  font-family: 'Lexend', 'Segoe UI', sans-serif;
  border: none;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  color: #fafafa;
  font-size: 1rem;

}
select{
  background-color: #121215;
  color: #fafafa;
  border: none;
  border-radius: 2rem;
  padding: 0.4rem;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
}
option {
  border: none;
  outline: none;
  background-color: #1B1B22;
}
select:after {
background-color: #5B509F
;}
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
h1{
  font-size: 3rem;
  text-align: center;
}
h2 {
  text-align: center;
}
.content-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.content-list {
  width: 100%;
}
.banner {
  width: 76rem;
  height: 18rem;
  background-color:#121215;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 2rem;
  top: 0;
  background-image: url(img/banner1.png);
}
#slide-left, 
#slide-right {
  position: absolute;
  top: 50%;
  background-color: #000000a1;
  border-radius: 1rem;
  padding: 0.5rem;
  width: 1rem;
  text-align: center;
  cursor: pointer;
}
#slide-left {
  left: 20%;
}
#slide-right {
  right: 20%;
}
.header-carousel{
  position: relative;
  display: none;
}


/*COOKIE CLICKER*/
#cookie-button {
    width: 16rem;
    transition: ease-in-out 100ms;
    cursor: pointer;
}
#cookie-button:active {
    transform: scale(95%);
    background-color: #00000033;
    border-radius: 100%;
    padding: 0.4rem;
}
.cookie-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    height: 30vh;
    position: relative;
}
.game-container{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.skin-shop {
  text-align: center;
  margin-top: 20px;
}

.skin {
  display: inline-block;
  margin: 10px;
  cursor: pointer;
}

.skin img {
  width: 100px;
  height: 100px;
  border: 2px solid #ccc;
  transition: border-color 0.3s;
}

.skin:hover img {
  border-color: gold;
}

.skin p {
  margin-top: 10px;
}
.cookie-background img {
  width: 100%;
  height: auto;
}

#particle-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -9;
  pointer-events: none; /* Upewnij się, że canvas nie blokuje kliknięć */
  background-color: #00000000;
  border: none;
}


/*DIAMOND SWEEPER*/
.grid-container {
    display: grid;
    grid-template-columns: repeat(7, 60px);
    grid-template-rows: repeat(7, 60px);
    gap: 8px;
    margin-top: 20px;
}

.grid-item {
    width: 60px;
    height: 60px;
    background-color: #121215;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 12px;
}
.popup{
  animation: popup 200ms;
}
@keyframes popup {
  0%{transform: scale(100%);}
  50%{transform: scale(105%);}
  100%{transform: scale(100%);}
}

.grid-item img {
    max-width: 60%;
    max-height: 60%;
    display: none; /* Obrazek ukryty do momentu kliknięcia */
}

/*RULETKA*/
#roulette-board {
    position: relative;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 2px solid #000;
    margin: 0 auto;
    overflow: hidden;
    background-image: url(img/roulette.png);
    background-position: center;
    background-size: cover;
}
/* .roulette-slot {
    position: absolute;
    width: 50%;
    height: 50%;
    border: 1px solid #000;
    transform-origin: 100% 100%;
    box-sizing: border-box;
} */
.red { background-color: red; }
.black { background-color: black; }
.green { background-color: green; }
.winner {
    border: 2px solid yellow;
}
#spin-button {
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.history-item {
  display: inline-block;
  padding: 5px 10px;
  margin: 2px;
  border-radius: 5px;
  color: white;
}
.history-item.red {
  background-color: #D03838;
}
.history-item.black {
  background-color: #101010;
}
.history-item.green {
  background-color: #359F59;
}
#max-bet-button,
#clear-bet-button {
  background-color: #0E0E10;
  box-sizing: border-box;
  padding: 6px;
  padding-left: 14px;
  padding-right: 14px;
}
#history-container {
  width:100%;
  display: flex;
  justify-content: center;
}
.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
}
.bet-values {
  display: flex;
  justify-content: center;
}
.bet-choice{
  display: flex;
  justify-content: center;
  gap: 8px;
}
#red {
  background-color: #D03838;
}
#black {
  background-color: #101010;
}
#green {
  background-color: #359F59;
}
.bet-choice button {
  padding: 1rem;
}
.bet-choice button.disabled {
  opacity: 0.3;
}
#game-result {
  min-height: 20px;
  text-align: center;
  width: 100%;
}


/*CRASH*/
canvas {
  background-color: #222;
  border: 2px solid #555;
  margin-top: 1rem;
}

#result-message {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  min-height: 20px;
}
.crash-controls {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
#cashout-button,
#start-button,
#play-button {
  width: 20%;
  padding: 1rem;
  min-width: 18rem;
  margin: 8px;
}
#start-button {
  background-color: #0E0E10;
  min-width: 18rem;
}
#crash-coin {
  position: relative;
  bottom: 2px;
  left: 4px;
}
.crash-button {
  margin: 0;
}
.bet-options input[type="checkbox"] {
  display: none;
}
.bet-options label {
  background-color: #5B509F;
  cursor: pointer;
  font-family: 'Lexend', 'Segoe UI', sans-serif;
  border: none;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  color: #fafafa;
  font-size: 1rem;
}

.crash-controls button,
.bet-options button {
  background-color: #101010;
}

/*PLINKO*/
/* canvas {
  border: 2px solid white;
  margin: 20px auto;
  display: block;
  background-color: #444;
}

input, button {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
}

#result-message img {
  width: 20px;
  vertical-align: middle;
} */




/*MODALS*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #121215;
  margin: 15% auto;
  padding: 20px;
  border-radius: 24px;
  width: 40%;
}

.close {
  color: #fafafa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #777777;
  text-decoration: none;
  cursor: pointer;
}


/*BREAKPOINTS*/
@media only screen and (max-width: 1200px) {

  .modal-content {
    width: 70%;
  }
}

@media only screen and (max-width: 900px) {
  .nav-menu {
    display: none; 
    background-color: #121215dd;
    position: absolute;
    top: 0;
    width: 10rem;
    height: 100vh;
    right: 0;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-around;
    font-size: larger;
  }
  .menu-open{
    display: flex;
    z-index: 99998;
  }
  .nav-hamburger {
    display: block;
    z-index: 99999;
  }
  .nav-navigation {
    flex-direction: column;
    min-width: auto;
  }
  .nav-profile {
    flex-direction: column;
    gap: 1rem;
  }
  .username {
    display: none;
  }
  .profile-picture {
    width: 3rem;
    height: 3rem;
  }
  #balance-display {
    font-size: 14px;

}
}

@media only screen and (max-width: 600px) {
  nav {
    padding-left: 1rem;
    padding-right: 1rem;
  }
    .grid-container {
      grid-template-columns: repeat(7, 50px);
      grid-template-rows: repeat(7, 50px);
      gap: 3px;
      margin-top: 4px;
  }
  .grid-item {
      width: 50px;
      height: 50px;
  }
  .modal-content {
    width: 90%;
  }
  #remaining-diamonds {
    margin-bottom: 1rem;
  }
  #roulette-board {
    width: 300px;
    height: 300px;
  }
  .history-item {
    font-size: 10px;
    padding: 0;
    color: #00000000;
  }
  .history-item.red {
    width: 24px;
    color: #00000000;
  }
  .history-item.black {
    width: 24px;
    color: #00000000;
  }
  .history-item.green {
    width: 24px;
    color: #00000000;
  }
  canvas {
    background-color: #222;
    border: 2px solid #555;
    margin-top: 20px;
    width: 90%;
  }
  .crash-controls button,
  .bet-options label,
  .crash-button,
  #max-bet-button {
    font-size: 12px;
    padding: 8px;
  }
  .bet-options {
    text-align: center;
  }
  #max-bet-button, 
  #clear-bet-button {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media only screen and (max-width: 400px) {
  .grid-container {
    grid-template-columns: repeat(7, 40px);
    grid-template-rows: repeat(7, 40px);
    gap: 2px;
    margin-top: 1px;
}

.grid-item {
    width: 40px;
    height: 40px;
    border-radius: 8px;
}

}